@import 'tailwindcss';

@theme {
	--color-primary-200: #c7d6ef;
	--color-primary-500: #3c76c9;

	--color-neutral-600: #71747b;
}

body {
	background: #ffffff;
	color: #2c3135;
	font-family: var(--font-main), sans-serif;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.01em;
}

button {
	cursor: pointer;
}
